* {
    font-family: Roboto;
}

footer {
    text-align: center;
}

#carouselExampleRide img {
    width: 100%;
    height: 400px; /* Altura fixa para as imagens */
    object-fit: cover; /* Mantém a proporção da imagem e cobre todo o espaço */
}

#carouselExampleRide {
    max-height: 400px; /* Altura máxima do carrossel*/
    margin: auto; /* Centraliza o carrossel na página */
}

#searchInput {
    text-align: right;
}